@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');
html {
    font-size: 62.5%;
    /* -> 10px; */
}

body {
    font-size: 1.5em;
    font-family: 'Noto Sans JP', sans-serif;
    color: #aaa;
    text-align: center;
    background-color: #eee;
}

.content {
    height: 300px;
}